beautifulsoup4
email-validator
dotenv
requests
faiss-cpu
fastapi
html2text
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-upstage
langgraph
markdown2
mysql-connector-python
numpy
openai
pandas
pandas-datareader
Pillow
pymongo
pykrx
pymysql
python-dotenv
scikit-learn
scrapy
SQLAlchemy
streamlit
torch
transformers
yfinance
mysql-connector-python
python-multipart
uvicorn
OpenDartReader